:root {
    --Sora: 'Sora', sans-serif;
}

:root {
    --color-white: #FFFEF3;
    --color-black: #333333;
    --color-dark-grey: #999993;
    --color-light-grey : #C6C6BD;
    --color-olive: #787c63;
    --color-Offwhite: #F9F8ED;
    --color-silver: #999993;
}